.custom-text {
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    /* Keep the text on a single line */
    text-align: left;
    /* Align the text to the left */
}